*{
  font-family: 'Gabarito', cursive;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Gabarito', cursive;
    padding-top: 20px;
  }
  .fondo {
    background-image: url(imágenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .encabezado {
    background-color: #ebcba3;
    opacity: 0.9;
    width: 95%;
    height: 150px;
    display: grid;
    align-items: center;
    border-radius: 26px;
    left: 20px;
    position: relative;
  }
  .encabezado a img {
    width: 350px;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .fondo2 {
    width: 95%;
    height: 500px;
    background-color: rgb(00, 00, 00, 0.3);
    border-radius: 36px;
    margin:20px;
    text-align: center;
    color: white;
  }

  .fondo2 form{
    width: 100%;
  }

  .fondo2 h1{
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Martian Mono', monospace;
    text-shadow: 0 10px 10px rgb(0, 0, 0);

  }
  h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 45%;
    padding: 10px;
    margin: 10px;
  }
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  .terminos{
  width: 400px;
  overflow: hidden;
  }
  .terminos input{
    width: 80px;
  }

  
  .Contrato{
    width: 47%;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 0px;
    cursor: pointer;
  }

  .botonEnviar{
    width: 15%;
    height: 30px;
    font-size: 17px;  
    cursor: pointer;
    border-radius: 10px;
    left: 0px;
    top: 0px;
  }

  .botonEnviar:active{
    background-color: #ebcba3;
    box-shadow: #000 1px 4px;
  }
  /* 991px */
  @media(max-width:991px){

    .botonEnviar{
      width: 18%;
    }
  }
  /*750*/
  @media (max-width: 749px) {
    input{
      width: 280px;
    }
    .Contrato{
      width: 300px;
    }
    h1{
      font-size: 1.5rem;
    }
    .botonEnviar{
      width: 150px;
    }
  } /* 750 */

   /* 513*/
  @media (max-width: 513px) {
    .terminos input{
      width: 70px;
    }
    .encabezado a img{
      width: 75%;
    }
  } /*513 */
  
   /*450*/
  @media (max-width: 450px) {
    .encabezado a img{
      width: 75%;
    }
    input{
      width: 67%;
    }
    .Contrato{
      width: 73%;
    }
    .botonEnviar{
      width: 30%;
      height: auto;
    }
    .fondo2{
      height: auto;

    }
    .terminos{
      width: 50%;  
    }
    .terminos input{
      width: 14%;  
    }
  } /*450*/
  